{% extends 'base.html.twig' %}

{% block body %}
    <div class="pricing-header px-3 pb-3  pb-md-4 mx-auto text-center">
        <h1 class="display-4">Regalamos criptomonedas</h1>
        <p class="lead">Bitcoin, ethereum, ripple, dash, namecoin, etc...</p>
    </div>

    <div class="container">

        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <img src="{{ asset('icons/bitcoin.png') }}" class="ico-coin">
                    <h2 class="my-0 font-weight-normal">{{ coin.type }}</h2>
                </div>
                <div class="card-body">
                    <h3 class="card-title pricing-card-title">
                        <small class="text-muted">hoy vale: </small> {{ coin.currentValue }} €
                    </h3>
                    <p>Valor mínimo <code>{{ coin.minValue }}€</code>, valor máximo <code>{{ coin.maxValue }}€</code>
                    </p>
                    <a href="{{ path('homepage') }}" class="btn btn-lg btn-block btn-outline-warning">¡Quiero otra!</a>
                    <a href="{{ path('save') }}" class="btn btn-lg btn-block btn-outline-success">Guardar</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}