{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>My wallet</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Icono</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
            {% for coin in coins %}
                <tr>
                    <th scope="row">#{{ loop.index }}</th>
                    <td><img src="{{ asset(coin.ico, 'icons') }}" class="ico-coin"></td>
                    <td>{{ coin.type }}</td>
                    <td>{{ coin.currentValue }}$</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('homepage') }}" class="btn btn-xs btn-block btn-outline-danger">Añadir otro</a>

    </div>
{% endblock %}